.sidebar-container {
	.sidebar-link {
		display: flex;
		justify-content: center;
		padding: 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-weight: 500;
		margin: 0.5rem;
		border-radius: 10px;
		border: 1px solid black;

		&:hover {
			background-color: rgba(188, 188, 188, 0.3);
			border-radius: 10px;
		}
	}
}
