.sidebar-container {
	.sidebar-link {
		display: flex;
		justify-content: center;
		padding: 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-weight: 500;
		margin: 0.5rem;
		border-radius: 10px;
		border: 2px solid black;
		height: 20px;

		&:hover {
			background-color: rgba(188, 188, 188, 0.3);
			border-radius: 10px;
			cursor: pointer;
		}
		&.dark {
			color: white;
			border-color: white;
		}
	}
}
.color-picker {
	display: flex;
	align-items: center;
	background-color: black;
	flex-direction: column;

	.set-color-buttons {
		display: flex;
		height: 80px;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
	}
}
