.form-container {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-evenly;
    .fields-container {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .button-container {
        display: flex;
        justify-content: space-evenly;
    }
    .message {
        height: 20px;
        color: red;
    }
}
