@import '../../scss/variables.scss';
.sidebar-container {
	.sidebar-link {
		display: flex;
		justify-content: center;
		padding: 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: $dark-mode;
		font-weight: 500;
		margin: 0.5rem;
		border-radius: 10px;
		border: 2px solid $dark-mode;
		height: 20px;

		&:hover {
			background-color: $background-color;
			border-radius: 10px;
			cursor: pointer;
		}
		&.dark {
			color: $white-mode;
			border-color: $white-mode;
		}
	}
}
.color-picker {
	display: flex;
	align-items: center;
	background-color: $dark-mode;
	flex-direction: column;

	.set-color-buttons {
		display: flex;
		height: 80px;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
	}
}
